:root {
    --black : 0  , 0  , 0  ;
    --dark  : 19 , 27 , 35 ;
    --blue  : 45 , 202, 210;
    --gray  : 27 , 38 , 44 ;
    --trans : 231, 234, 242;
    --red   : 207, 0  , 15 ;
    --white : 255, 255, 255;
    --yellow: 222, 181,  34;
    --darker:  18,  18,  18;
}